{% assign eduexperiences = site.data.data.experiences %}
{% if eduexperiences %}
<section class="section eduexperiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ eduexperiences.title }}
  </h2>

  {% for eduexperience in eduexperiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ eduexperience.role }}</h3>
        <div class="time">{{ eduexperience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ eduexperience.company }}</div>

    </div><!--//meta-->

    {% if eduexperience.details %}
    <div class="details">
      {{ eduexperience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
